<div class="container">
    <section id="intro" class="intro-custom">
        <p class="intro-content-custom">
            Hello, <br> I am <span id="my-name">Sriganesh</span> <br> A Full Stack Web &lt;/Developer!&gt;
        </p>
    </section>
    <section id="abount-me" class="about-me-custom">
        <div class="row">

            <div class="col-md-8 about-me-align-custom">
                <h3>About Me</h3>
                <p class="about-me-text-custom">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br>
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip <br>
                    ex ea commodo consequat. <br> <br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>
            </div>
            <div class="col-md-4 img-align-custom">
                <section class="img-custom">
                    <section class="about-me-img-content-custom">
                        <img src="assets/images/avatar-image.png" alt="avatar-image">
                    </section>
                    <svg class="about-me-animation-content-custom" id="visual" viewBox="0 0 258 256" width="258"
                        height="256" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1">
                        <!-- <g transform="translate(140.74728439003468 117.20524955184308)">
                            <path id="blob1"
                                d="M69.8 -68.2C82.2 -57.5 78.1 -28.8 78.6 0.5C79 29.7 84.1 59.4 71.7 76.7C59.4 94.1 29.7 99 6.6 92.4C-16.5 85.8 -33 67.7 -54.3 50.3C-75.7 33 -101.8 16.5 -103.4 -1.5C-104.9 -19.6 -81.8 -39.1 -60.5 -49.8C-39.1 -60.5 -19.6 -62.2 4.6 -66.8C28.8 -71.4 57.5 -78.8 69.8 -68.2"
                                fill="#6D83F2"></path>
                        </g> -->
                        <g transform="translate(125.00191049310763 126.08226306568983)">
                            <path id="blob2"
                                d="M72.5 -63.2C93.7 -51.4 110.4 -25.7 112.5 2.1C114.6 29.9 102.2 59.9 81 70.5C59.9 81.2 29.9 72.6 -0.1 72.7C-30.2 72.8 -60.3 81.7 -79.8 71C-99.3 60.3 -108.2 30.2 -103.5 4.7C-98.7 -20.7 -80.5 -41.5 -61 -53.3C-41.5 -65.2 -20.7 -68.1 2.5 -70.6C25.7 -73 51.4 -75 72.5 -63.2"
                                fill="#6D83F2"></path>
                        </g>
                        <g transform="translate(132.66424653775647 142.11439263088403)">
                            <path
                                d="M54.8 -61.7C65.8 -43.8 65.9 -21.9 67.3 1.4C68.7 24.7 71.5 49.5 60.5 61.2C49.5 72.8 24.7 71.4 3.2 68.2C-18.4 65.1 -36.8 60.1 -47.4 48.4C-58.1 36.8 -61.1 18.4 -67 -5.9C-72.8 -30.2 -81.7 -60.3 -71 -78.2C-60.3 -96 -30.2 -101.5 -4.1 -97.4C21.9 -93.3 43.8 -79.5 54.8 -61.7"
                                fill="#6D83F2"></path>
                        </g>
                    </svg>
                </section>
            </div>
        </div>
    </section>
</div>

