<nav class="navbar navbar-expand-lg navbar-light nav-bg-custom nav-fixed-custom">
    <a class="navbar-brand navbar-margin-left-custom" href="#">
        <img src="assets/images/portfolio-logo.png" width="32" height="40">
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto navbar-margin-right-custom">    
        <li class="nav-item active">
          <a class="nav-link header-nav-link-custom" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-nav-link-custom" href="#">About Me</a>
        </li>
        <li class="nav-item"> <!--add class dropdown if you uncomment the below commented code-->
            <a class="nav-link header-nav-link-custom" href="#">Skills</a>
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> -->
        </li>
        <li class="nav-item">
          <a class="nav-link header-nav-link-custom" href="#">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link header-nav-link-custom" href="#">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>