.header-nav-link-custom{
    color: #8E9EF0;
    margin: 0 1vw;
}

.navbar-margin-left-custom{
 margin-left: 7vw;
}

.navbar-margin-right-custom{
 margin-right: 7vw;
}

.nav-item-spacing-custom{
    margin: 10vw 0;
}